//scss file to style the pages components
.favorite {
  .header {
    text-align: center;
    box-shadow: none;
  }
  div {
    // p {
    //   background-color: rgb(219, 192, 157);
    // }
    .container {
      width: 80%;
      margin: 20px auto;

      .fav-container {
        display: flex;
        flex-direction: row;

        margin: 20px 0px;
        line-height: 25px;
        .img-container {
          margin-right: 20px;
          cursor: pointer;
          img {
            width: 210px;
          }
        }
        .about {
          display: flex;
          flex-direction: column;
          width: 70%;
          .author {
            float: left;
            margin-left: 0px;
          }
        }

        .delete {
          margin-right: -10px;
          cursor: pointer;
        }
      }
    }
  }
}

.profile {
  line-height: 25px;
  width: 60%;
  margin: 80px auto;
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    width: 80%;
    border: 2px solid burlywood;
    border-radius: 5px;
    padding: 10px;
    height: 50px;
    background-color: rgb(246, 220, 186);
  }
}

.landing {
  .contact-page {
    .page {
      margin: 20px auto;
      width: 80%;

      border-radius: 10px;
      box-shadow: 0px 0px 5px burlywood;
      padding: 10px;

      h3 {
        margin: 20px;
        margin-left: 60px;
        margin-bottom: 0px;
      }
      form {
        width: 80%;
        margin: 20px auto;

        input {
          width: 100%;
          margin-top: 15px;
          height: 40px;
          border-radius: 5px;
          background-color: rgb(247, 230, 208);
          border: none;
          padding: 10px;
        }

        .send {
          display: flex;
          width: 70px;
          margin-top: 10px;
          justify-content: space-between;
          align-items: center;
          background-color: rgb(247, 230, 208);
          border-radius: 5px;
          height: 25px;
          border: 0.5px solid rgb(247, 230, 208);
          padding: 10px;
          cursor: pointer;
        }
        p {
          margin-top: 10px;
          margin-bottom: 10px;
        }
        textarea {
          width: 100%;
          border-radius: 10px;
          padding: 10px;
          border: none;
          background-color: rgb(247, 230, 208);
        }
      }
    }
  }
}

.best-selling-page {
  width: 80%;
  height: fit-content;

  margin: 10px auto;
  border: 2px solid brown;
  margin-top: 80px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px burlywood;
  h3 {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 5px;
    color: brown;
  }
  h4 {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: brown;
  }
  .best-container {
    h4 {
      margin-left: 40px;
      color: rgb(167, 76, 76);
    }
    article {
      padding: 10px;
      width: 90%;
      margin: 5px auto;
      display: flex;
      flex-wrap: wrap;

      .best-selling-book-list {
        cursor: pointer;
        width: auto;
        margin: 10px auto;
        padding: 10px;
        .card {
          width: 200px;
          display: inline-block;
          margin: 10px auto;
          padding: 10px;
          height: 315px;
          border-radius: 5px;
          transition: all 0.2s ease-in;
          border: 1px solid burlywood;
          cursor: pointer;
          overflow: hidden;
          .info {
            .desc {
              display: -webkit-box;
              overflow: hidden;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              text-align: justify;
            }
          }
        }
      }
    }
  }
}

.category-page {
  width: 80%;
  height: fit-content;

  margin: 10px auto;
  border: 2px solid brown;
  margin-top: 80px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px burlywood;
  h3 {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 5px;
    color: brown;
  }
  h4 {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: brown;
  }
  .category-books {
    h4 {
      margin-left: 40px;
      color: rgb(167, 76, 76);
    }
    .category-map {
      padding: 10px;
      width: 90%;
      margin: 5px auto;
      display: flex;
      flex-wrap: wrap;

      .category-book-list {
        cursor: pointer;
        width: auto;
        margin: 10px auto;
        padding: 10px;
        .card {
          width: 200px;
          display: inline-block;
          margin: 10px auto;
          padding: 10px;
          height: 315px;
          border-radius: 5px;
          transition: all 0.2s ease-in;
          border: 1px solid burlywood;
          cursor: pointer;
          overflow: hidden;
          .info {
            .desc {
              display: -webkit-box;
              overflow: hidden;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              text-align: justify;
            }
          }
        }
      }
    }
  }
}
// @media screen and {

// }
