.books {
  width: 80%;
  margin: 10px auto;
  margin-top: 50px;
  .head-list {
    article {
      margin-top: 20px;
      h3 {
      }
      .booklist {
        display: flex;
        flex-direction: row;

        overflow: auto;
        height: 290px;
        margin-top: 10px;
        .card {
          margin-left: 20px;
          margin-right: 20px;
          padding: 10px;
          margin-top: 10px;
          border-radius: 10px;
          height: 260px;
          border: 1px solid burlywood;
          transition: all 0.3s ease-in;

          &:hover {
            box-shadow: 0px 0px 15px burlywood;
          }
          .info {
            p {
              display: -webkit-box;
              overflow: hidden;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              text-align: justify;
            }
          }
        }
      }
    }
  }
}
.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: rgb(247, 211, 168);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
.card {
  /* display: inline;
  white-space: nowrap; */
}
.card .img-container {
  /* height: 100px;
  width: 100px; */
}
