/* CSS file to style the landing page */
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

.landing .landingpage {
  width: 100%;
  margin-top: 30px;
}
.landing .quote {
  width: 70%;
  text-align: center;
  font-family: 'Caveat', cursive, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  transition: all 1s ease-in;
  margin: 10px auto;
  margin-top: 50px;
  font-size: 16px;
}
.landing .quote .title {
  font-family: 'Rajdhani', sans-serif;
}

.landing .another {
  width: 80%;
  display: flex;
  margin: 10px auto;
  border: 2px solid burlywood;
  border-radius: 15px;
  background-color: rgba(215, 185, 145, 0.1);
}

.landing .another img {
  border-radius: 10px;
  /* flex: 0.7; */
  width: 70%;
  border-radius: 15px;
  padding-right: 150px;
}

.landing .another p {
  font-weight: 600;
  margin-top: 200px;
}

.landing .landing-books {
  width: 80%;
  margin: 20px auto;
  border: 2px solid burlywood;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}
.landing .landing-books .landing-book-list {
  display: inline-block;
  margin: 2px auto;
  cursor: pointer;
  padding: 10px;
}

.landing .landing-books .landing-book-list .card {
  /* box-shadow: 0px 0px 4px grey; */
  width: 200px;
  padding: 10px;
  height: 315px;
  border-radius: 5px;
  transition: all 0.2s ease-in;
  border: 1px solid burlywood;
  cursor: pointer;
}
.landing .landing-books .landing-book-list .card .info .desc {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: justify;
}

.landing .landing-books .landing-book-list .card:hover {
  transform: scale(1, 1);
  box-shadow: 0px 0px 15px burlywood;
}
/* .card 
    .info {
      .desc {
        @include line-clamp(1);
      }
    }
  }
}

@mixin line-clamp($number) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
} */
@media screen and (max-width: 700px) {
  .landing .another {
    font-size: 10px;
    height: 300px;
    width: 80%;
    display: flex;
    margin: 10px auto;
    border: 2px solid burlywood;
    border-radius: 15px;
    background-color: rgba(215, 185, 145, 0.1);
  }

  .landing .another img {
    border-radius: 10px;
    /* flex: 0.7; */
    width: 70%;
    height: 100%;
    border-radius: 15px;
    padding-right: 50px;
  }

  .landing .another p {
    font-weight: 600;
    margin-top: 200px;
  }
  .landing .another button {
    font-size: 10px;
  }
}
