.footer {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin: 10px auto;
  background-color: burlywood;
  color: rgba(72, 68, 68, 0.987);
  position: relative;
  height: auto;

  justify-content: space-between;

  /* width: 100%; */
  bottom: 0;
  margin: 5px;
  padding: 15px;
}

.footer div {
  margin: 10px;
  padding: 10px;
}
.footer .about {
  text-align: justify;
  flex: 0.6;
}
/* .footer .about {
  flex: 0.3;
}
.footer .about h4,
.footer .about p {
  padding: 10px;
}

.footer .contact {
  /* position: absolute; */
/* flex: 1;
  right: 1px;
}
.footer .contact li {
  padding: 10px;
  list-style: none;
} */
