.login_container {
  /* background-image: linear-gradient(rgba(9, 7, 7, 0.5), rgba(6, 5, 5, 0.5)),
    url('../../images/Read\ A\ Book\ Motivational\ Quote\ Facebook\ Post\ \(1\).png'); */
  /* color: rgb(229, 203, 170); */
  height: 100vh;
  /* margin-top: 40px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: contain;
  line-height: 30px;
  width: 80%;
  margin: 10px auto;
  /* display: flex; */
}
.login_container .signOption {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 0px;
}
.login_container .create {
  display: flex;
  flex: 0.8;
  justify-content: space-between;
}

.login_container .display-sidebar {
  /* border: 2px solid black; */
  display: none;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgb(237, 228, 167);
}
.login_container .create img {
  /* flex: 0.8; */
  margin-left: 0;
  padding: 5px;
}
.login_container .create span {
  display: flex;
  margin-top: 10px;
}
.login_container .create span button {
  margin-top: -10px;
  margin-left: -5px;
}

.login_container .header {
  margin-left: 10px;
  box-shadow: none;
  margin-bottom: 40px;
}

.login_container .input_page {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */

  height: 76.5vh;
  margin: 0px auto;
  /* position: absolute; */
  top: 90px;
  margin-top: 90px;
  padding: 5px;
  max-width: 450px;
  margin-bottom: 11%;
}

.login_container .inputs .names {
  display: flex;
  padding: 10px;
  width: 100%;
}
.login_container .inputs .names input:first-child {
  padding: 10px;
  margin: 10px;
  margin-right: 0;
  margin-left: 0;
  border-radius: 5px;
  width: 50%;
  border: 2px solid rgb(240, 224, 160);
  background-color: rgb(237, 228, 167);
}
.login_container .inputs .names input:nth-child(2) {
  padding: 10px;
  margin: 10px;
  margin-right: 0;
  border-radius: 5px;
  width: 50%;
  border: 2px solid rgb(240, 224, 160);
  background-color: rgb(237, 228, 167);
}
.login_container .inputs .names input:focus,
.login_container .inputs .others input:focus {
  outline: none;
  border: 2px solid rgb(240, 224, 160);
  background-color: rgb(237, 228, 167);
}
.login_container .inputs .others input,
.login_container .inputs .others p {
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid black;
}
.login_container .input_page .error p {
  background-color: rgb(156, 12, 12);
  color: #f0eded;
  border-radius: 5px;
  height: fit-content;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
}
#btn {
  background-color: burlywood;
  border: 0 solid;
  color: black;
  margin-bottom: 0;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

#btn:hover {
  background-color: rgb(221, 199, 170);
}
#text {
  margin-top: 0;
  border: 0 solid;
}

@media screen and (max-width: 600px) {
  .login_container .inputs .names {
    display: block;
    width: 100%;
  }
  .login_container .inputs .names input:first-child {
    padding: 10px;
    /* margin: 10px; */
    border-radius: 5px;
    width: 100%;
    background-color: rgb(221, 199, 170);
    margin-left: 0;
  }
  .login_container .inputs .names input:nth-child(2) {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 100%;
    background-color: rgb(221, 199, 170);
    margin-left: 0;
  }
}

@media screen and (min-width: 900px) {
  .login_container {
    display: flex;
    flex-direction: column;
  }
  .login_container .input_page {
    /* margin-left: 50%; */
    /* position: relative; */
  }
  .login_container .display-sidebar {
    /* height: 100vh; */

    display: block;

    /* top: 0;
    margin-left: 5px;
    margin-top: 5px;
    width: 40%;
    border: 0.2px solid rgb(205, 202, 202); */
  }

  .login_container .display-sidebar #img2,
  .login_container .display-sidebar #img1 {
    margin: auto auto;
    padding: 25px;
  }
  .login_container .display-sidebar h1 {
    /* margin-top: 40px; */
    padding: 15px;
  }
  .login_container .display-sidebar #img2 {
    margin-top: 20px;
    width: 100%;
  }
}
@media screen and (min-width: 1100px) {
  .login_container .display-sidebar {
    max-width: 450px;
  }
}
.changeAuth {
  margin-bottom: 20px;
  margin-left: 10px;
}
.changeAuth span:nth-child(2) {
  cursor: pointer;
  text-decoration: underline;
}
